*{
    margin:0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

.conatiner{
    width: 100%;
    min-height:100vh;
    background:linear-gradient(120deg,#af62ea,#8b4cc2);
    color:antiquewhite;
    padding-top:3%;
    padding-left:8%;
}
.conatiner h1{
    font-weight:600px;
    letter-spacing: 1px;
    font size :25px;
    display: flex;
    gap:8px;
    align-items: center;
}

.conatiner h1 img{
    width: 80px;
}

.conatiner button{
 font-family: 'Poppins',sans-serif;
 font-weight: 800;
 background-color:black;
 color: #fff;
 font-size:16px;
 display: flex;
 letter-spacing: 1px;
}

.conatiner button{
    display: flex;
    align-items: center;
    background: linear-gradient(#9418fd,#4d0d86);
    cursor: pointer;
    padding:10px 20px;
    margin: 30px 0 20px;
    border-radius: 40px;
    border: 0;
    outline: 0;
}

.conatiner button img{
    width: 80px;
     height: 75px; 
}

#input-box{
    position: relative;
    width: 100%;
    max-width: 500px;
    min-height: 200px;
    background-color: #fff;
    color: #333;
    padding: 20px;
    margin: 20px 0;
    outline: none;
    border-radius: 5px;
}

#input-box img{
    width: 40px;
    position: absolute;
    bottom: 15px;
    right: 20px;
    cursor: pointer;
}
